{% extends "layout.html" %}
{% block title %}Reseptisovellus{% endblock %}
{% block content %}
<form action="/haku" method="GET">
  Hae reseptiä: <input type="text" name="query">
  <input type="submit" value="Hae">
  <div>
    <input type="radio" id="containsName" name="contains" value="name" checked>
    <label for="containsName">Nimen mukaan</label>
    <input type="radio" id="containsIngredient" name="contains" value="ingredient">
    <label for="containsIngredient">Ainesosien mukaan</label>
  </div>
</form>
<hr>
<p>
  Reseptejä: {{count}}
  |
  <a href="/uusi/resepti"> Uusi resepti</a>
  |
  <a href="/uusi/ainesosa"> Uusi ainesosa</a>
</p>
<hr>
<div>
  <ul>
      {% for recipe in recipes %}
      <li><a href="/resepti/{{recipe[0]}}"> {{recipe[1]}}</a>
      {% endfor %}
  </ul>
</div>
<hr>
<p>
  <a href="/ainesosat.csv"> Ainesosat</a>
  |
  <a href="/mittayksikot.csv"> Mittayksiköt</a>
</p>
{% endblock %}