{% extends "layout.html" %}
{% block title %}Uusi resepti{% endblock %}
{% block content %}
<h2>Lisää uusi resepti</h2>
<form action="/uusi/resepti/lisaa" method="POST">
  <p>
      Reseptin nimi:
      <input type="text" name="name">
  </p>
  <hr>
  <div>
      <p>
          Ainesosat:
      </p>
      {% for i in range(1,13) %}
      <p><input type="text" name="ingredient"></p>
      {% endfor %}
  </div>
  <hr>
  <div>
      Välivaiheet:
      {% for i in range(1,13) %}
      <p>{{i}}. <input type="text" name="step"></p>
      {% endfor %}
  </div>
  <input type="submit" value="Lisää">
</form>
{% endblock %}